In [1]:
import pandas as pd
import pymongo
from sqlalchemy import create_engine
import numpy as np

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
def randomIndex(low=0,high=10,size=10):
    index_list =[]
    while len(index_list) != size:
        num=np.random.randint(low, high,1)
        if num not in index_list:
            index_list.append(num[0])
    return sorted(list((index_list)))
        
def col_to_list(col):
    return list(col.find()), len(list(col.find()))

In [4]:
quotes_mdb=client.quotes_db
author_info_col=quotes_mdb.author_information_collection


author_list,len_author_list=col_to_list(author_info_col)

author_info_df=pd.DataFrame(author_list,index=randomIndex(100,300,len_author_list))


author_info_table = author_info_df[['name','born','description']].copy()
author_info_table.index.name='author_id'
author_info_table=author_info_table.drop_duplicates(subset=['name'])
author_info_table #sql table 1

,name,born,description
author_id,,,
101,Albert Einstein,"March 14, 1879 in Ulm, Germany","\n In 1879, Albert Einstein was born in..."
102,J.K. Rowling,"July 31, 1965 in Yate, South Gloucestershire, ...",\n See also: Robert GalbraithAlthough s...
104,Jane Austen,"December 16, 1775 in Steventon Rectory, Hampsh...",\n Jane Austen was an English novelist ...
105,Marilyn Monroe,"June 01, 1926 in The United States",\n Marilyn Monroe (born Norma Jeane Mor...
112,André Gide,"November 22, 1869 in Paris, France",\n André Paul Guillaume Gide was a Fren...
115,Thomas A. Edison,"February 11, 1847 in Milan, Ohio, The United S...",\n Thomas Alva Edison was an American i...
116,Eleanor Roosevelt,"October 11, 1884 in The United States",\n Anna Eleanor Roosevelt was an Americ...
118,Steve Martin,"August 14, 1945 in Waco, Texas, The United States","\n Stephen Glenn ""Steve"" Martin is an A..."
126,Bob Marley,"February 06, 1945 in Nine Mile, Saint Ann, Jam...","\n Robert ""Bob"" Nesta Marley OM was a J..."
129,Dr. Seuss,"March 02, 1904 in Springfield, MA, The United ...",\n Theodor Seuss Geisel was born 2 Marc...
133,Douglas Adams,"March 11, 1952 in Cambridge, England, The Unit...",\n Douglas Noël Adams was an English au...
137,Elie Wiesel,"September 30, 1928 in Sighet, Romania",\n Eliezer Wiesel was a Romania-born Am...
138,Friedrich Nietzsche,"October 15, 1844 in Röcken bei Lützen, Prussia...",\n Friedrich Wilhelm Nietzsche (1844–19...
139,Mark Twain,"November 30, 1835 in Florida, Missouri, The Un...","\n Samuel Langhorne Clemens, better kno..."
140,Allen Saunders,"April 24, 1899 in The United States",\n Allen Saunders was an American write...
141,Pablo Neruda,"July 12, 1904 in Parral, Chile","\n Pablo Neruda was the pen name and, l..."
143,Ralph Waldo Emerson,"May 25, 1803 in Boston, Massachusetts, The Uni...","\n in 1803, Ralph Waldo Emerson was bor..."
146,Mother Teresa,"August 26, 1910 in Skopje, Macedonia, the Form...","\n Blessed Teresa of Calcutta, or Mothe..."
147,Garrison Keillor,"August 07, 1942 in Anoka, Minnesota, The Unite...",\n Garrison Keillor (born Gary Edward K...
152,Jim Henson,"September 24, 1936 in Greenville, Mississippi,...","\n James Maury ""Jim"" Henson was the mos..."
169,Charles M. Schulz,"November 26, 1922 in Minneapolis, MN, The Unit...",\n Charles Monroe Schulz was an America...
172,William Nicholson,"January 12, 1948 in Lewes, Sussex, The United ...",\n Librarian Note: There is more than o...
174,Jorge Luis Borges,"August 24, 1899 in Buenos Aires, Argentina",\n Jorge Francisco Isidoro Luis Borges ...
175,George Eliot,"November 22, 1819 in South Farm, Arbury Hall, ...","\n In 1819, novelist George Eliot (nee ..."
177,George R.R. Martin,"September 20, 1948 in Bayonne, New Jersey, The...",\n George R. R. Martin was born Septemb...
179,C.S. Lewis,"November 29, 1898 in Belfast, Ireland",\n CLIVE STAPLES LEWIS (1898–1963) was ...
190,Martin Luther King Jr.,"January 15, 1929 in Atlanta, Georgia, The Unit...","\n Martin Luther King, Jr. was one of t..."
192,James Baldwin,"August 02, 1924 in Harlem, New York, The Unite...",\n Librarian Note: There is more than o...
199,Haruki Murakami,"January 12, 1949 in Kyoto, Japan",\n Haruki Murakami (Japanese: 村上 春樹) is...
200,Alexandre Dumas-fils,"July 27, 1824 in Paris, France",\n Alexandre Dumas (son) was born in Pa...
201,Stephenie Meyer,"December 24, 1973 in Connecticut, The United S...","\n I was born in Connecticut in 1973, d..."
202,Ernest Hemingway,"July 21, 1899 in Oak Park, Illinois, The Unite...",\n Ernest Miller Hemingway was an Ameri...
203,Helen Keller,"June 27, 1880 in Tuscumbia, Alabama, The Unite...",\n Helen Keller would not be bound by c...
204,George Bernard Shaw,"July 26, 1856 in Dublin, Ireland",\n George Bernard Shaw was an Irish pla...
205,Charles Bukowski,"August 16, 1920 in Andernach, Germany",\n Henry Charles Bukowski (born as Hein...
206,Suzanne Collins,"August 11, 1962 in Hartford, Connecticut, The ...",\n Librarian Note: There is more than o...
215,J.R.R. Tolkien,"January 03, 1892 in Bloemfontein, Mangaung, Fr...","\n John Ronald Reuel Tolkien, CBE, was ..."
224,Alfred Tennyson,"August 06, 1809 in Somersby, Lincolnshire, The...",\n Alfred Tennyson was born in Somersby...
228,Terry Pratchett,"April 28, 1948 in Beaconsfield, Buckinghamshir...",\n Sir Terry Pratchett sold his first s...
236,J.D. Salinger,"January 01, 1919 in Manhattan, New York, The U...",\n Jerome David Salinger was an America...
237,George Carlin,"May 12, 1937 in New York, New York, The United...",\n George Denis Patrick Carlin was a Gr...
242,John Lennon,"October 09, 1940 in Liverpool, England, The Un...","\n John Winston Ono Lennon, MBE, was an..."
248,W.C. Fields,"January 29, 1880 in Darby, Pennsylvania, The U...",\n W. C. Fields was born William Claude...
254,Ayn Rand,"February 02, 1905 in St. Petersburg, Russian F...",\n Alisa Rosenbaum was born in pre-revo...
276,Jimi Hendrix,"November 27, 1942 in Seattle, Washington, The ...",\n Jimi Hendrix was an American guitari...
277,J.M. Barrie,"May 09, 1860 in Kirriemuir, Angus, Scotland, T...","\n Sir James Matthew Barrie, 1st Barone..."
278,E.E. Cummings,"October 14, 1894 in Cambridge, Massachusetts, ...",\n Edward Estlin Cummings was born in C...
279,Khaled Hosseini,"March 04, 1965 in Kabul, Afghanistan","\n Hosseini was born in Kabul, Afghanis..."
287,Harper Lee,"April 28, 1926 in Monroeville, Alabama, The Un...","\n Harper Lee, known as Nelle, was born..."
292,Madeleine L'Engle,"November 29, 1918 in New York City, New York, ...",\n Madeleine L'Engle was an American wr...

In [5]:
tags_col=quotes_mdb.tags_collection
tags_list,len_tags_list=col_to_list(tags_col)
tags_df=pd.DataFrame(tags_list,index=randomIndex(301,500,len_tags_list))

tags_table = tags_df[['tag']].copy()
tags_table=tags_table.rename(columns={'tag':'tag_name'})
tags_table.index.name = 'tag_id'
tags_table #sql table 2

             tag_name
tag_id
301            change
302     deep-thoughts
303          thinking
305             world
306         abilities
...               ...
495         difficult
496         grown-ups
497             write
498           writers
499              mind

[137 rows x 1 columns]

####

In [6]:
quotes_col=quotes_mdb.tag_relation_collection
quotes_list,len_quotes_list=col_to_list(quotes_col)
quotes_df= pd.DataFrame(quotes_list,index=randomIndex(501,700,len_quotes_list))
# quotes_df

In [7]:
quotes_and_tag_table = quotes_df[["quote_text",'tag']].copy()
quotes_and_tag_table=quotes_and_tag_table.rename(columns={'tag':'tag_list'})
quotes_and_tag_table.index.name = 'quote_id'
# quotes_and_tag_table

In [8]:
quoteid_tag=[]

for index, row in quotes_and_tag_table.iterrows():
    for tag in row['tag_list']:
        quoteid_tag.append((index,tag))
quote_tag_df=pd.DataFrame(quoteid_tag,columns=['quote_id','tag_name'])

In [9]:
# quote_tag_df

In [10]:
quotes_and_tag_relations_table=tags_table.reset_index().merge(quote_tag_df,on='tag_name')
quotes_and_tag_relations_table=quotes_and_tag_relations_table[['tag_id','quote_id']].copy()

In [11]:
quotes_and_tag_relations_table=quotes_and_tag_relations_table.set_index('tag_id') #sql table 3

In [12]:
quotes_table=quotes_and_tag_table[['quote_text']].copy()
# quotes_table

In [13]:
quotes_col=quotes_mdb.quotes_collection
quotes_and_author_df=pd.DataFrame(list(quotes_col.find()))
quotes_and_author_table=quotes_and_author_df[['quote_text','author_name']].copy().rename(columns={'author_name':'name'})

In [14]:
quotes_and_author_table=quotes_and_author_table.merge(author_info_table.reset_index(), on='name')
# quotes_and_author_table

In [15]:
quotes_and_author_table=(quotes_and_author_table[['quote_text','author_id']].copy()).merge(quotes_and_tag_table.reset_index(),on="quote_text").drop(['tag_list'],axis=1)

In [16]:
quotes_and_author_table=quotes_and_author_table.set_index('quote_id')

In [17]:
quotes_and_author_table

                                                 quote_text  author_id
quote_id
501       “The world as we have created it is a process ...        101
507       “There are only two ways to live your life. On...        101
515       “Try not to become a man of success. Rather be...        101
532       “If you can't explain it to a six year old, yo...        101
553       “If you want your children to be intelligent, ...        101
...                                                     ...        ...
681              “To die will be an awfully big adventure.”        277
683       “It takes courage to grow up and become who yo...        278
689       “But better to get hurt by the truth than comf...        279
690       “You never really understand a person until yo...        287
693       “You have to write the book that wants to be w...        292

[100 rows x 2 columns]

In [18]:
pword = input("enter your postgres password: ")

rds_connection_string = f"postgres:{pword}@localhost:5432/Quotes_DB"#<=== username is postgres and mypassword is next
engine = create_engine(f'postgresql://{rds_connection_string}')

# Confirm tables
engine.table_names()

enter your postgres password:  Baggins89

['quote_tag_relation', 'tags', 'author_info', 'quotes']

In [24]:
overwrite='append'

In [26]:
author_info_table.to_sql(name='author_info',con=engine,if_exists='append',index=True)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "author_info_pkey"
DETAIL:  Key (author_id)=(101) already exists.

[SQL: INSERT INTO author_info (author_id, name, born, description) VALUES (%(author_id)s, %(name)s, %(born)s, %(description)s)]
[parameters: ({'author_id': 101, 'name': 'Albert Einstein', 'born': 'March 14, 1879 in Ulm, Germany', 'description': '\n        In 1879, Albert Einstein was born in Ulm, Germany. He completed his Ph.D. at the University of Zurich by 1909. His 1905 paper explaining th ... (3554 characters truncated) ... have made the word "Einstein" synonymous with genius.More: http://en.wikipedia.org/wiki/Albert_E...http://www.nobelprize.org/nobel_prize...    \n    '}, {'author_id': 102, 'name': 'J.K. Rowling', 'born': 'July 31, 1965 in Yate, South Gloucestershire, England, The United Kingdom', 'description': '\n        See also: Robert GalbraithAlthough she writes under the pen name J.K. Rowling, pronounced like rolling, her name when her first Harry Potte ... (3510 characters truncated) ... d at English." Sean Harris, her best friend in the Upper Sixth owned a turquoise Ford Anglia, which she says inspired the one in her books.    \n    '}, {'author_id': 104, 'name': 'Jane Austen', 'born': 'December 16, 1775 in Steventon Rectory, Hampshire, The United Kingdom', 'description': "\n        Jane Austen was an English novelist whose works of romantic fiction, set among the landed gentry, earned her a place as one of the most wid ... (1665 characters truncated) ... t English writer. The second half of the 20th century saw a proliferation of Austen scholarship and the emergence of a Janeite fan culture.    \n    "}, {'author_id': 105, 'name': 'Marilyn Monroe', 'born': 'June 01, 1926 in The United States', 'description': '\n        Marilyn Monroe (born Norma Jeane Mortenson; June 1, 1926 – August 5, 1962) was an American actress, model, and singer, who became a major s ... (1930 characters truncated) ...  decades following her death, she has often been cited as both a pop and a cultural icon as well as the quintessential American sex symbol.    \n    '}, {'author_id': 112, 'name': 'André Gide', 'born': 'November 22, 1869 in Paris, France', 'description': "\n        André Paul Guillaume Gide was a French author and winner of the Nobel Prize in literature in 1947. Gide's career ranged from its beginnings ... (697 characters truncated) ... lues. His political activity is informed by the same ethos, as suggested by his repudiation of communism after his 1936 voyage to the USSR.    \n    "}, {'author_id': 115, 'name': 'Thomas A. Edison', 'born': 'February 11, 1847 in Milan, Ohio, The United States', 'description': '\n        Thomas Alva Edison was an American inventor, scientist and businessman who developed many devices that greatly influenced life around the w ... (913 characters truncated) ... esses, and factories – a crucial development in the modern industrialized world. His first power station was on Manhattan Island, New York.    \n    '}, {'author_id': 116, 'name': 'Eleanor Roosevelt', 'born': 'October 11, 1884 in The United States', 'description': '\n        Anna Eleanor Roosevelt was an American political leader who used her influence as an active First Lady from 1933 to 1945 to promote the New ... (1053 characters truncated) ... uman rights achievements.She was one of the most admired persons of the 20th century, according to Gallup\'s List of Widely Admired People.    \n    '}, {'author_id': 118, 'name': 'Steve Martin', 'born': 'August 14, 1945 in Waco, Texas, The United States', 'description': '\n        Stephen Glenn "Steve" Martin is an American actor, comedian, writer, playwright, producer, musician, and composer. He was raised in Souther ... (485 characters truncated) ... rom stand-up comedy, he became a successful actor, playwright, and juggler, and eventually earned Emmy, Grammy, and American Comedy awards.    \n    '}  ... displaying 10 of 50 total bound parameter sets ...  {'author_id': 287, 'name': 'Harper Lee', 'born': 'April 28, 1926 in Monroeville, Alabama, The United States', 'description': '\n        Harper Lee, known as Nelle, was born in the Alabama town of Monroeville, the youngest of four children of Amasa Coleman Lee and Frances Cun ... (1690 characters truncated) ... a bestseller with more than 30 million copies in print. In 1999, it was voted "Best Novel of the Century" in a poll by the Library Journal.    \n    '}, {'author_id': 292, 'name': "Madeleine L'Engle", 'born': 'November 29, 1918 in New York City, New York, The United States', 'description': '\n        Madeleine L\'Engle was an American writer best known for her Young Adult fiction, particularly the Newbery Medal-winning A Wrinkle in Time  ... (2520 characters truncated) ... ren, and her great grandchildren."http://us.macmillan.com/author/madele...Copyright © 2007 Crosswicks, Ltd. (Madeleine L\'Engle, President)    \n    '})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [21]:
quotes_and_author_table.to_sql(name='quotes',con=engine,if_exists=overwrite,index=True)

In [22]:
tags_table.to_sql(name='tags',con=engine,if_exists=overwrite,index=True)

In [23]:
quotes_and_tag_relations_table.to_sql(name='quote_tag_relation',con=engine,if_exists=overwrite,index=True)