In [7]:
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import pword, database, username
from flask import Flask, jsonify
import pymongo
#################################################
# Database Setup
#################################################

In [2]:
            
postgres_database = f"postgresql://{username}:{pword}@localhost:5432/{database}"#<=== username is postgres and mypassword is next
engine = create_engine(postgres_database)
conn=engine.connect()

# Save reference to the table

top_10_tags=pd.read_sql("select * from top_10_count", conn)

In [3]:
top_10_tags

               tag_name  count
0                  love     14
1         inspirational     13
2                  life     13
3                 humor     12
4                 books     11
5               reading      7
6            friendship      5
7                 truth      4
8               friends      4
9  attributed-no-source      3

In [5]:
engine.dispose()

In [18]:
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)
mdb=client.quotes_db
quotes_data = list(mdb.quotes_everything_collection.find())

clean_quotes_data=[]
for q in quotes_data:
    q.pop('_id')
    clean_quotes_data.append(q)