In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from config import pword, database, username
from flask import Flask, jsonify
import pymongo
import pprint as pprint
#################################################
# Database Setup
#################################################

In [2]:
            
postgres_database = f"postgresql://{username}:{pword}@localhost:5432/{database}"#<=== username is postgres and mypassword is next
engine = create_engine(postgres_database)
conn=engine.connect()

# Save reference to the table

top_10_tags=pd.read_sql("select * from top_10_count", conn)

In [3]:
top_10_tags

               tag_name  count
0                  love     14
1         inspirational     13
2                  life     13
3                 humor     12
4                 books     11
5               reading      7
6            friendship      5
7                 truth      4
8               friends      4
9  attributed-no-source      3

In [4]:
engine.dispose()

In [5]:
conn = 'mongodb://localhost:27017'

# Pass connection to the pymongo instance.
client = pymongo.MongoClient(conn)
mdb=client.quotes_db
quotes_data = list(mdb.quotes_everything_collection.find())

clean_quotes_data=[]
for q in quotes_data:
    q.pop('_id')
    clean_quotes_data.append(q)

In [6]:
author=mdb.author_information_collection.find_one({'name':'Bob Marley'})
author.pop('_id')
author

{'name': 'Bob Marley',
 'born': 'February 06, 1945 in Nine Mile, Saint Ann, Jamaica',
 'description': '\n        Robert "Bob" Nesta Marley OM was a Jamaican singer, songwriter, guitarist, and activist. He was the frontman, lead singer, songwriter and guitarist for the ska, rocksteady and reggae bands: The Wailers (1964 â€“ 1974) and Bob Marley & the Wailers (1974 - 1981). He is the most widely known performer of ska/reggae music, and is often credited for helping spread Jamaican music to the worldwide audience.Marley\'s best known hits includes "I Shot the Sheriff", "No Woman, No Cry", "Exodus", "Could You Be Loved", "Stir It Up", "Jamming", "Redemption Song", and "One Love", as well as the posthumous releases "Buffalo Soldier" och "Iron Lion Zion". The compilation album, Legend, released in 1984, three years after Marley\'s death, is the best-selling reggae album ever (10 times platinum), with sales of more than 12 million copies.    \n    '}

In [7]:
tag_list=[]
for tag in mdb.tags_collection.find({},{"_id":0,"tag":1}):
    tag_list.append(tag['tag'])

In [8]:
def tag_search(tag_name):
    print(tag_name)
    tag_details=list(mdb.tag_relation_collection.find({"tag":tag_name}))
    details = []
    quotes = []
    tcount = 0
    for tag in tag_details:
        tcount += 1
        quotes.append({"quote": tag["quote_text"], "tags": tag['tag']})
    details.append({"tag": tag_name, "count": tcount, "quotes": quotes})
    return details

In [9]:
details=tag_search("love")

love

In [30]:

def top_10_tags():
    tag_list = []
    for tag in mdb.tags_collection.find({}, {"_id": 0, "tag": 1}):
        tag_list.append(tag['tag'])

    q_and_t = list(mdb.tag_relation_collection.find(
        {}, {"_id": 0, "tag": 1, "quote_text": 1}))

    details = []
    for tag in tag_list:
        tcount = 0
        quotes = []
        for qt in q_and_t:
            for t in qt['tag']:
                if t==tag:
                    tcount += 1
                    quotes.append(
                        {"text": qt["quote_text"], "tags": qt['tag']})
        details.append({"tag": tag, "quote_count": tcount})

    detailsf = {"details": details}
    len_tags=len(detailsf['details'])

    quote_count_number=[]
    top_ten=[]
    for i in detailsf['details']:
        quote_count_number.append(i['quote_count'])
 

    sorted_count=sorted(quote_count_number,reverse=True)[0:9]

    for x in range(len_tags):
        if detailsf['details'][x]['quote_count'] in sorted_count:
            top_ten.append(detailsf['details'][x])
    
    return top_ten

In [31]:
top_10_tags()

13
13
11
12
14
4
5
7
4

[{'tag': 'inspirational', 'quote_count': 13},
 {'tag': 'life', 'quote_count': 13},
 {'tag': 'books', 'quote_count': 11},
 {'tag': 'humor', 'quote_count': 12},
 {'tag': 'love', 'quote_count': 14},
 {'tag': 'friends', 'quote_count': 4},
 {'tag': 'friendship', 'quote_count': 5},
 {'tag': 'reading', 'quote_count': 7},
 {'tag': 'truth', 'quote_count': 4}]

In [29]:
len_tags=len(details['details'])

quote_count_number=[]
top_ten=[]
for i in details['details']:
    quote_count_number.append(i['quote_count'])
 

sorted_count=sorted(quote_count_number,reverse=True)[0:9]
sorted_count

   
for x in range(len_tags):
    if details['details'][x]['quote_count'] in sorted_count:
        print(details['details'][x]['quote_count'])
        top_ten.append(details['details'][x])

top_ten

13
13
11
12
14
4
5
7
4

[{'tag': 'inspirational', 'quote_count': 13},
 {'tag': 'life', 'quote_count': 13},
 {'tag': 'books', 'quote_count': 11},
 {'tag': 'humor', 'quote_count': 12},
 {'tag': 'love', 'quote_count': 14},
 {'tag': 'friends', 'quote_count': 4},
 {'tag': 'friendship', 'quote_count': 5},
 {'tag': 'reading', 'quote_count': 7},
 {'tag': 'truth', 'quote_count': 4}]

In [15]:
def specific_tag(tag="change")
    details=[]
    mdb.tag_relation_collection.find({},{"_id":0,"tag":1,"quote_text":1})

SyntaxError: invalid syntax (<ipython-input-15-7297e928655d>, line 1)

In [ ]:
    for tag in tag_list:
        tcount=0
        quotes=[]
        for qt in q_and_t:
            for t in qt['tag']:
                if tag in t:
                    tcount=+1
                    quotes.append({"text":qt["quote_text"],"tags":qt['tag']})
        details.append({"name":tag,"number_of_quotes":tcount,"quotes":quotes})

    final_tag_dict={"count":len(tag_list),"details":details}  
    return final_tag_dict

In [ ]:
pprint.pprint(list(lecturers.find({"salary": 
                                  {'$lt':50000}}).sort('salary', 1)))

In [ ]:
quotes

In [ ]:
total_tags=0
for tag_list in mdb.tag_relation_collection.find({},{"_id":0,"tag":1}):
    total_tags+=len(tag_list['tag'])
print(total_tags)